services:
  postgresql:
    build:
      context: ./docker/postgresql
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgrespassword
    ports:
      - 15432:5432
volumes:
  db_data:
